.rulesScreen {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .7);
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rulesCard {
    background-color: white;
    border-radius: 10px;
    padding: 5px 30px 30px 30px;
}

.rulesHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

.close:hover {
    cursor: pointer;
}

.hideRules {
    display: none;
}

@media(max-width: 500px) {
    .rulesCard {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .rulesHeader {
        position: absolute;
        top: 10px;
        gap: 70vw;
    }
}