.scoreTile {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 120px;
    width: 150px;
}

.scoreText {
    font-weight: 600;
    text-align: center;
    font-size: 18px;
    margin: 0;
    color: hsl(229, 64%, 46%);
}

.score {
    font-weight: 700;
    font-size: 58px;
    margin: 0;
    color: hsl(229, 25%, 31%);
    line-height: 50px;
}

@media(max-width: 700px) {
    .scoreTile {
      height: 80px;
      width: 100px;
    }

    .score {
        font-size: 48px;
        line-height: 40px;
    }
    
  }