@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

.App {
    @include flex(column, center, center);
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(circle at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    font-family: 'Barlow Semi Condensed', sans-serif;

    .header {
        border: 2px solid hsl(217, 16%, 45%);
        border-radius: 20px;
        padding: 15px;
        max-width: 700px;
        width: 90%;
        top: 0;
        @include flex(row, space-between, center);
    }

    .pentagon {
        position: absolute;
        z-index: 0;
        bottom: 100px;
    }

    .buttonBorder {
        width: 145px;
        height: 145px;
        @include flex(row, center, center);
        border-radius: 50%;
        border: none;
        z-index: 1;

        /* Inner button style */
        .button {
            background: white;
            border-radius: 50%;
            border: none;
            width: 105px;
            height: 98px;
            @include flex(row, center, center);
            box-shadow: 0 -7px lightgray;
            margin-top: 8.5px;
            z-index: 1;
            
            /* Psuedo Button (invisible) to spread onClick and hover state across the whole visual */
            .psuedoButton {
                position: absolute;
                width: 145px;
                height: 150px;
                opacity: 0;
                border: none;
                border-radius: 50%;
            }

            .psuedoButton:hover {
                cursor: pointer;
            }
        }
    }

    /* Button border colors by symbol */
    .rock {
        background-image: linear-gradient(hsl(349, 70%, 56%), hsl(349, 71%, 52%));
        box-shadow: 0 5px hsl(349, 61%, 42%);
    }

    .paper {
        background-image: linear-gradient(hsl(230, 89%, 65%), hsl(230, 89%, 62%));
        box-shadow: 0 5px hsl(230, 79%, 52%);
    }

    .scissors {
        background-image: linear-gradient(hsl(40, 84%, 53%), hsl(39, 89%, 49%));
        box-shadow: 0 5px hsl(39, 79%, 39%);
        z-index: 3;
    }

    .lizard {
        background-image: linear-gradient(hsl(261, 72%, 63%), hsl(261, 73%, 60%));
        box-shadow: 0 5px hsl(261, 63%, 50%);
    }

    .spock {
        background-image: linear-gradient(hsl(189, 58%, 57%), hsl(189, 59%, 53%));
        box-shadow: hsl(189, 49%, 43%);
    }

    /* Button positioning */
    .pentaTop {
        margin-top: 40px;
        @include flex(row, center, center)
    }

    .pentaMiddle {
        @include flex(row, center, center);
        gap: 200px;
        margin: 0 0 30px 0;
    }

    .pentaBottom {
        @include flex(row, center, center);
        gap: 75px;
        margin-bottom: 20px;
    }

    .rulesButton {
        position: absolute;
        bottom: 50px;
        right: 50px;
        background-color: rgba(0, 0, 0, 0);
        border: 2px solid white;
        color: white;
        border-radius: 10px;
        padding: 10px 35px;
        font-size: 18px;
        font-weight: 600;
    }

    .rulesButton:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, .2);
    }
}