@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

.Results {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(circle at top, hsl(214deg, 47%, 23%), hsl(237deg, 49%, 15%));
  font-family: "Barlow Semi Condensed", sans-serif;
  color: white;
}

.results {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  gap: 2.5rem;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.result p {
  font-size: 1rem;
  letter-spacing: 0.15rem;
  z-index: 10;
}

.resultButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.resultButton {
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  z-index: 2;
  opacity: 0;
}

.resultButton div {
  background: white;
  border-radius: 50%;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  width: 7.75rem;
  height: 7.3rem;
  box-shadow: 0 -0.4rem lightgray;
  margin-top: 0.4rem;
  z-index: 3;
}

.resultButton div img {
  width: 3.75rem;
  height: auto;
}

.buttonShadow {
  position: absolute;
  height: 7.75rem;
  width: 7.75rem;
  border-radius: 50%;
  background-color: black;
  opacity: .2;
  z-index: 1;
}

.winner {
  position: absolute;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  background-image: radial-gradient(hsl(0, 0%, 50%) 20%, hsl(0, 0%, 50%) 50%, hsl(0, 0%, 30%) 50%, hsl(0, 0%, 30%) 60%, hsl(0, 0%, 20%) 50%);
  opacity: .1;
  z-index: 1;
}

.resultMessage {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 16.5rem;
  opacity: 0;
  animation-duration: 5s;
  animation-name: messageFadeIn;
  animation-fill-mode: forwards;
  z-index: 10;
}

.winMessage {
  font-size: 1.9rem;
  font-weight: 700;
  margin: 0.5rem;
}

.playAgain {
  border: none;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 0.25rem;
  font-weight: 600;
  color: hsl(229, 25%, 31%);
  font-family: "Barlow Semi Condensed", sans-serif;
  margin: 0;
}

.playAgain:hover {
  cursor: pointer;
}

@media(min-width: 700px) {
  .winner {
    animation-duration: 5s;
    animation-name: highlightFadeIn;
    animation-fill-mode: forwards;
  }

  .house {
    animation-duration: 5s;
    animation-name: houseFadeIn;
    animation-fill-mode: forwards;
  }

  .player {
    animation-duration: 5s;
    animation-name: playerFadeIn;
    animation-fill-mode: forwards;
  }

  .results {
    animation-duration: 5s;
    animation-name: spread;
    animation-fill-mode: forwards;
  }

  @keyframes playerFadeIn {
    0% {opacity: 0}
    20% {opacity: 1}
    100% {opacity: 1}
  }

  @keyframes houseFadeIn {
    0% {opacity: 0}
    20% {opacity: 0}
    40% {opacity: 1}
    100% {opacity: 1}
  }

  @keyframes spread {
    0% {gap: 2.5rem}
    40% {gap: 2.5rem}
    60% {gap: 15rem}
    100% {gap: 15rem}
  }

  @keyframes messageFadeIn {
    0% {opacity: 0}
    60% {opacity: 0}
    80% {opacity: 1}
    100% {opacity: 1}
  }

  @keyframes highlightFadeIn {
    0% {opacity: 0}
    60% {opacity: 0}
    80% {opacity: .1}
    100% {opacity: .1}
  }
}

@media(max-width: 700px) {
  .winner {
    animation-duration: 5s;
    animation-name: highlightFadeIn;
    animation-fill-mode: forwards;
  }

  .house {
    animation-duration: 5s;
    animation-name: houseFadeIn;
    animation-fill-mode: forwards;
  }

  .player {
    animation-duration: 5s;
    animation-name: playerFadeIn;
    animation-fill-mode: forwards;
  }

  @keyframes playerFadeIn {
    0% {opacity: 0}
    20% {opacity: 1}
    100% {opacity: 1}
  }

  @keyframes houseFadeIn {
    0% {opacity: 0}
    20% {opacity: 0}
    40% {opacity: 1}
    100% {opacity: 1}
  }
  @keyframes messageFadeIn {
    0% {opacity: 0; transform: translate(0);}
    40% {opacity: 0; transform: translate(0);}
    60% {opacity: 1; transform: translate(0, 10rem);}
    100% {opacity: 1; transform: translate(0, 10rem);}
  }

  @keyframes highlightFadeIn {
    0% {opacity: 0}
    40% {opacity: 0}
    60% {opacity: .1}
    100% {opacity: .1}
  }

  .results {
    margin-top: 0;
  }
}

@media(max-width: 500px) {
  .results {
    margin-top: 40px;
  }

  .results p {
    font-size: 14px;
  }

  .winMessage {
    margin-top: 60px;
  }
}